version: "3.8"
services:
  db:
    container_name: postgres-db
    image: postgres:16.0-alpine3.18
    restart: always
    env_file:
      - .env.development
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
