name: Danger

on:
  pull_request:
    types: [opened, edited, synchronize, reopened]

jobs:
  danger:
    runs-on: ubuntu-latest
    name: Run PR against danger file

    permissions:
      contents: read
      pull-requests: write
      statuses: write

    steps:
      - name: checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: ./.github/actions/setup-node

      - name: Install dependencies
        run: npm ci

      - name: Run danger file
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        run: |
          npm run danger ci
