name: Run unit tests

on:
  pull_request:
    branches: [main]

permissions:
  contents: read
  pull-requests: write

jobs:
  jest-run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: ./.github/actions/setup-node

      - name: install dependencies
        run: npm ci

      - name: run unit tests (with coverage)
        run: npm run test:unit

      - name: Upload coverage artifacts
        uses: actions/upload-artifact@v4
        with:
          name: coverage-unit
          path: |
            coverage/
            coverage/lcov.info
          if-no-files-found: error
          retention-days: 7

      - name: Download coverage artifact
        uses: actions/download-artifact@v4
        with:
          name: coverage-unit

      - name: Post coverage report
        uses: ArtiomTr/jest-coverage-report-action@v2
        with:
          coverage-file: coverage/coverage/lcov.info
          custom-title: Unit test coverage report
