name: Run unit tests

on:
  pull_request:
    branches: [main, staging]

jobs:
  jest-run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: ./.github/actions/setup-node

      - name: install dependencies
        run: npm ci

      - name: run unit tests
        run: npm  test
